---
layout: wrapper
===

<section id="content">

	<div class="box">
		
		<h1>{{ document.title }}</h1>					

		<!-- START The Content -->					
		
		<div class="content clearfix">					
			
			{{ content }}
			
			Response body for this API call was
			{{ document.response.body }}		
			
		</div>
		
		<section class="footer"></section>
		
	</div>	

	
<!--[if !IE]> END The Dark Box <![endif]-->			
	
</section>				

<!--[if !IE]> END LAYOUT ( <section #content>, the wide column ) <![endif]-->
<!--[if !IE]> START LAYOUT ( <aside>, the narrow column ) <![endif]-->


<!--	 //////////////////////   READ ME - About The Aside //////////

The aside is meant for content about the main content.  for example: 

	Did you know ?
	Whats this form ?
	You might also want To...
	Related pages

//////////////////////   READ ME  ////////////////////////// -->		


<aside class="box box-light">
	
	
	<h1><a href="/{{api.index.uri}}">{{ api.title }}</a></h1>	
	
	
	<div class="content">
	
		<h1>Reference {{num_types}}</h1>
	
		<ol>
			{% for d in api.documents %}
				<li><a href="/{{d.uri}}">{{d.title}}</a></li>
			{% endfor %}
		</ol>
		
		{% if api.types.length == 0 %}
			<h1>Data Types</h1>
			
			<ol>
				{% for d in api.types %}
					<li><a href="/{{d.uri}}">{{d.title}}</a></li>
				{% endfor %}							
			</ol>
		{% endif %}
		
		{% if api.specifications.length == 0 %}
			<h1>Data Types</h1>
			
			<ol>
				{% for d in api.specifications %}
					<li><a href="/{{d.uri}}">{{d.title}}</a></li>
				{% endfor %}							
			</ol>
		{% endif %}
		
		<div class="help">
			<span class="help-top"><span class="help-R"></span></span>
				<div class="help-content"><strong>Did you Know?</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>					
			<span class="help-bottom"><span class="help-R"></span></span>					
		</div>					
		
	</div>
	
	<section class="footer"> </section>				
				
</aside>
	<!--[if !IE]> END ( <aside>, the narrow column ) <![endif]-->