---
layout: wrapper
===

<section id="content">

	<div class="box">
		
		<h1>{{ document.title }}</h1>								
		
		<div class="content clearfix">					
			
			{{ content }}
			
			Response body for this API call was
			{{ document.response.body }}
			
			<div class="tabbed-box clearfix">		
				<ul class="nav-tabbed clearfix" data-controls="examples">
					<li><a href="#an_example" title="An example">An example<i></i></a></li>
					<li><a href="#another_example" title="An example">Another example<i></i></a></li>
				</ul><span class="right"></span>
				
				<div class="tabbed-content" data-group="examples" id="an_example">
					<p>An example</p>
				</div>				
				<div class="tabbed-content" data-group="examples" id="another_example">
					<p>Another example</p>
				</div>				
			</div>
			
		</div>
		
		<section class="footer"></section>
		
	</div>	
	
</section>				

<aside class="box box-light">
	
	
	<h1><a href="/{{api.index.uri}}">{{ api.title }}</a></h1>	
	
	
	<div class="content">
	
		<h1>Reference {{num_types}}</h1>
	
		<ol>
			{% for d in api.documents %}
				<li><a href="/{{d.uri}}">{{d.title}}</a></li>
			{% endfor %}
		</ol>
		
		<h1>Data Types</h1>
		
		<ol>
			{% for d in api.types %}
				<li><a href="/{{d.uri}}">{{d.title}}</a></li>
			{% endfor %}							
		</ol>
		
		<h1>Specifications</h1>
		
		<ol>
			{% for d in api.specifications %}
				<li><a href="/{{d.uri}}">{{d.title}}</a></li>
			{% endfor %}							
		</ol>
		
		<div class="help">
			<span class="help-top"><span class="help-R"></span></span>
				<div class="help-content"><strong>Did you Know?</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>					
			<span class="help-bottom"><span class="help-R"></span></span>					
		</div>					
		
	</div>
	
	<section class="footer"> </section>				
				
</aside>
