/* @group Root layout */

body {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 1em;
	background: white;

}
body, form, fieldset, h1,h2,h3,h4,h5,h6, hr {
	margin: 0; 
	padding: 0;
}
a {
	color: green;
}

/* @end */

/* @group Brand header */

#header {
	clear: both;
	background: black;
	color: white;
	padding: 20px;
}

/* @end */

/* @group Document layout */

#main {
	height: 100%;
	background: #fdecb8;
}

ol.breadcrumb, div.document {
	margin: 0 0 0 251px;
	clear: none;
}

#main ol.breadcrumb {
	padding: 10px;
	background: #444;
	height: 2em;
	list-style-type: none;
}
	#main ol.breadcrumb li {
		padding: 5px 10px;
		margin-right: 5px;
		background: #666;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		float: left;
	}
		#main ol.breadcrumb li a {
			color: white;
		}
	#main ol.breadcrumb li.current {
		background: #333;
		height: 2em;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
	}

div.document {
}

h1 {
	margin: 0;
	padding: 10px;
	font-size: 2em;
	color: white;
	background-color: #333;
}

div.template {
	padding: 20px 10px;
}

/* @end */

/* @group Tree navigation */

#navigation {
	top: 0; left: 0;
	width: 250px;
	float: left;
	height: 100%;
}

/* @group Tree list */

	.treeview {
		padding: 10px;
	}
	.treeview a {
	}
	.treeview ul a {
		position: static;
		font-weight: normal;
		font-size: 1em;
	}

/* @end */

/* @group Search form */
	
	#search-form {
		
	}
	#search-form fieldset { 
		border: none;
		background: #0953d7;
		padding: 10px 10px 10px 10px;
		text-align: right;
	}
	#search-form input.text {
		height: 1.1em;
		font-size: 1em;
		padding: 0.5em;
		border-width: 0;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
	}
		#search-form label { display: none; }
		#search-form legend { display: none; }
		#search-form .submit { display: none; }

/* @end */
	

/* @end */

