/* @group Root layout */

body {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 1em;
	background: white;

}
body, form, fieldset, h1,h2,h3,h4,h5,h6, hr {
	margin: 0; 
	padding: 0;
}
a {
	color: green;
}

#main {
	margin-left: 250px;
}

/* @end */

/* @group Document layout */

#main ol.breadcrumb {
	margin: 0; padding: 10px;
	height: 2em;
	background: #59f;
	list-style-type: none;
}
	#main ol.breadcrumb li {
		padding: 5px 10px;
		margin-right: 5px;
		background: #4068ff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		float: left;
	}
		#main ol.breadcrumb li a {
			color: white;
		}
	#main ol.breadcrumb li.current {
		background: #eafbf7;
		height: 2em;
		border-color: transparent;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
	}
		#main ol.breadcrumb li.current a {
			color: inherit;
		}

h1 {
	clear: both;
	margin: 0;
	padding: 10px;
	font-size: 2em;
	background-color: #eafbf7;
}

/* @end */

/* @group Tree navigation */

#navigation {
	position: fixed;
	top: 0; left: 0;
	width: 250px;
	height: 100%;
	background: #FFF;
	border-right: 1px solid black;
}

/* @group Tree list */

	.tree {
		
	}

/* @end */

/* @group Search form */
	
	#search-form {
		
	}
	#search-form fieldset { 
		border: none;
		background: #333;
		padding: 10px 10px 10px 10px;
		text-align: right;
	}
	#search-form input.text {
		height: 1.1em;
		font-size: 1em;
		padding: 0.5em;
		border-width: 0;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
	}
		#search-form label { display: none; }
		#search-form legend { display: none; }
		#search-form .submit { display: none; }

/* @end */
	

/* @end */

