/* @group Root layout */

body {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 1em;
	background: white url('../images/background-tile.jpg');
}
body, form, fieldset, h1,h2,h3,h4,h5,h6,hr,ol,ul {
	margin: 0; 
	padding: 0;
}
a, img {
	border: none;
}
#root {
	padding: 0 50px;
	background: transparent url('../images/background-gradient.jpg') repeat-x;
}
#root-inner {
	min-height: 900px;
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto;
}
.main {
	display: block;
	padding: 15px;
	background: transparent url('../images/document-border-noise.jpg');
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	margin-bottom: 15px;
}
.main-inner {
	background: white;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
footer {
	padding: 10px;
	border-top: 1px solid #999;
	background: url('../images/breadcrumb-li-gradient.jpg') repeat-x bottom left;
	text-align: center;
	font-size: 0.8em;
	color: #1C411F;
	text-shadow: 1px 1px #FFF;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
}
	footer p {
		margin: 0; padding: 0;
	}
	footer span {
		font-size: 0.5em;
	}

/* HTML5 defaults*/
document, section, header, footer, nav {
	display: block;
}

/* @end */

/* @group Brand header */
	header {
		display: block;
		padding: 15px;
	}
/* @end */

/* @group Navigation */

	#breadcrumb {
		height: 39px;
		clear: both;
		list-style-type: none;	
		background: white url('../images/breadcrumb-li-gradient.jpg') repeat-x bottom left;
		border-bottom: 1px solid #999;
		-webkit-border-top-left-radius: 15px;
		-webkit-border-top-right-radius: 15px;
		-moz-border-radius-topleft: 15px;
		-moz-border-radius-topright: 15px;
	}
	#breadcrumb li {		
		float: left;
	}
	#breadcrumb li a, #breadcrumb li span {
		display: block;
		padding: 0.6em 30px 0.7em 0.6em;
		background: transparent url('../images/breadcrumb-li-pointer.jpg') no-repeat top right;
	}
	#breadcrumb .current {
		background: none;
		color: #333;
		text-decoration: none;
	}
	#breadcrumb .home {
		padding-bottom: 6px;
	}
	#breadcrumb .home img {
		margin-left: 5px;
	}

/* @group Column view */

	.view-columnar {
		overflow-x: auto;
		background: #EEE;
		border-bottom: 1px solid #999;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
	}
		.view-columnar section {
			background: url('../images/column-section-background-line.gif') repeat-y top right;
		}
		.view-columnar .tier_wrapper {
			width: 200px;
			height: 150px;
			overflow-y: auto;
			float: left;
		}
		.view-columnar .wraps_tier_0 {
			padding-left: 10px;
		}
		.view-columnar a {
			display: block;
			padding: 0.4em 0.5em 0.4em 0em;
		}
		.view-columnar .not-empty.current-parent, .view-columnar .not-empty.current {
			display: block;
			background: transparent url('../images/column-link-current-background-arrow.gif') no-repeat center right;
		}
		.view-columnar .current-parent {
			color: #333;
		}
		.view-columnar .current {
			color: #333;
			font-weight: bold;
		}

/* @end */

/* @end */

/* @group Document */

	h1 {
		padding: 20px;
		background: #FFF9E5;
		font-weight: lighter;
		clear: both;
	}

/* @group Wrapper */

		document {
		}
		document section {
			padding: 0px 20px 20px 20px;
		}
		document p {
			
		}
		
		
/* @end */

document ul, document ol {
	margin-left: 50px;
}
	document li {
		padding: 3px;
	}
		
h2,h3,h4 {
	border-bottom: 1px solid #CCC;
	padding: 10px 0;
	margin-bottom: 10px;
}
		
blockquote {
	display: block;
	padding: 20px;
	background: #FFF9E5;
	font-style: italic;
	border: 2px dashed #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	color: #666;
}

code {
	display: block;
	background: #291C16;
	padding: 10px;
	margin: 0 40px;
	margin-bottom: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}	
	code pre {
		display: block;
		margin: 0;
		color: white;
		overflow: auto;
	}

/* @group Pygments theme */

.hll { background-color: #ffffcc }
.c { color: #EFEFEF; font-style: italic } 			/* Comment */
.err { border: 1px solid #FF0000 } 					/* Error */
.k { color: #ea007e; font-weight: bold } 			/* Keyword */
.o { color: #666666 } 								/* Operator */

.cm { color: #408090; font-style: italic } 			/* Comment.Multiline */
.cp { color: #007020 } 								/* Comment.Preproc */
.c1 { color: #EFEFEF; font-style: italic } 			/* Comment.Single */
.cs { color: #408090; background-color: #fff0f0 } 	/* Comment.Special */

.gd { color: #A00000 } 								/* Generic.Deleted */
.ge { font-style: italic } 							/* Generic.Emph */
.gr { color: #FF0000 } 								/* Generic.Error */
.gh { color: #000080; font-weight: bold } 			/* Generic.Heading */
.gi { color: #00A000 }								/* Generic.Inserted */
.go { color: #303030 } 								/* Generic.Output */
.gp { color: #c65d09; font-weight: bold } 			/* Generic.Prompt */
.gs { font-weight: bold } 							/* Generic.Strong */
.gu { color: #800080; font-weight: bold } 			/* Generic.Subheading */
.gt { color: #0040D0 } 								/* Generic.Traceback */

.kc { color: #007020; font-weight: bold } 			/* Keyword.Constant */
.kd { color: #007020; font-weight: bold } 			/* Keyword.Declaration */
.kn { color: #007020; font-weight: bold } 			/* Keyword.Namespace */
.kp { color: #f00} 									/* Keyword.Pseudo */
.kr { color: #007020; font-weight: bold } 			/* Keyword.Reserved */
.kt { color: #902000 } 								/* Keyword.Type */

.m { color: #208050 } 								/* Literal.Number */
.s { color: #4070a0 } 								/* Literal.String */
.w { color: #bbbbbb } 								/* Text.Whitespace */
.mf { color: #208050 } 								/* Literal.Number.Float */
.mh { color: #208050 } 								/* Literal.Number.Hex */
.mi { color: #208050 } 								/* Literal.Number.Integer */
.mo { color: #208050 } 								/* Literal.Number.Oct */
.sb { color: #4070a0 } 								/* Literal.String.Backtick */
.sc { color: #4070a0 } 								/* Literal.String.Char */
.sd { color: #4070a0; font-style: italic } 			/* Literal.String.Doc */
.s2 { color: #4070a0 } 								/* Literal.String.Double */
.se { color: #4070a0; font-weight: bold } 			/* Literal.String.Escape */
.sh { color: #4070a0 } 								/* Literal.String.Heredoc */
.si { color: #70a0d0; font-style: italic } 			/* Literal.String.Interpol */
.sx { color: #c65d09 } 								/* Literal.String.Other */
.sr { color: #235388 } 								/* Literal.String.Regex */
.s1 { color: #4070a0 } 								/* Literal.String.Single */
.ss { color: #517918 } 								/* Literal.String.Symbol */
.il { color: #208050 } 								/* Literal.Number.Integer.Long */

.na { color: #4070a0 } 								/* Name.Attribute */
.nb { color: #00ff1c} 								/* Name.Builtin */
.nc { color: #0e84b5; font-weight: bold } 			/* Name.Class */
.no { color: #60add5 } 								/* Name.Constant */
.nd { color: #555555; font-weight: bold } 			/* Name.Decorator */
.ni { color: #d55537; font-weight: bold } 			/* Name.Entity */
.ne { color: #007020 } 								/* Name.Exception */
.nf { color: #de9a00} 								/* Name.Function */
.nl { color: #002070; font-weight: bold } 			/* Name.Label */
.nn { color: #0e84b5; font-weight: bold } 			/* Name.Namespace */
.nt { color: #062873; font-weight: bold } 			/* Name.Tag */
.nv { color: #bb60d5 } 								/* Name.Variable */
.bp { color: #007020 } 								/* Name.Builtin.Pseudo */
.vc { color: #bb60d5 } 								/* Name.Variable.Class */
.vg { color: #bb60d5 } 								/* Name.Variable.Global */
.vi { color: #bb60d5 } 								/* Name.Variable.Instance */

.ow { color: #007020; font-weight: bold } 			/* Operator.Word */

/* @end */

/* @end */